@import '../../theme/palette';

 table {
   width: 100%;
   border: 1px solid $paletteColor1;
   border-collapse: collapse;
   table-layout: auto;

   th {
     border: 1px solid $paletteColor1;
     padding: 5px;
   }
   .icon {
     width: 20px;
   }

   .tableCaption {
     text-align: left;
     margin-bottom: 10px;
   }

   td {
     border: 1px solid $paletteColor1;
     padding: 5px;
     text-align: center;
   }

   .absorbingColumn {
     width: 100%;
     text-align: left;
   }
 }

 .tableCaption {
   font-size: 14px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 10px;
 }

